.acl-content-wrapper button {
    margin-top: 20px;
}

.acl-content-wrapper .acl-setting-buttons button,
.acl-content-wrapper .card-action button {
    margin-top: 0;
}

.acl-ds-head .acl-member {
    margin-bottom: 0;
}

.acl-ds-head .acl-member #generic-table tbody tr:last-child {
    border-bottom: none;
}

.acl-content-wrapper .acl-role-head .ldap-tree {
    margin-bottom: 20px;
}

.acl-ds-create h3 {
    margin: 0 0 1em 0;
}

.acl-ds-create .options+.members {
    margin: 12px 0 20px 0;
}

.acl-member {
    border: 1px solid lightgrey;
    min-height: 10rem;
    padding: 1rem;
    border-radius: .25rem;
}

.acl-ds-create .members {
    margin: 20px 0;
}

.acl-ds-create .members .btn-small {
    margin-right: 20px;
}

.acl-content-wrapper .acl-setting-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.acl-content-wrapper .acl-setting-buttons .acl-setting-button-grp {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.acl-content-wrapper .acl-setting-buttons .acl-setting-button-grp .acl-setting-button-grp-small {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.acl-content-wrapper .acl-setting-buttons .acl-setting-button-grp .acl-setting-button-grp-small button {
    margin: 0;
}

.acl-content-wrapper .acl-setting-buttons .acl-setting-button-grp .acl-setting-button-grp-small button:first-child {
    margin-right: 2px;
}

.acl-content-wrapper .acl-setting-buttons .button-divider {
    margin: 0 5px;
}

.acl-content-wrapper .acl-object-wrapper {
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    border-top: 1px solid #e0e0e0;
    padding: 1em;
    margin: 1px;
    margin-top: 10px;
}

.acl-content-wrapper .acl-object-wrapper .object-head-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.acl-content-wrapper .acl-object-wrapper .object-head-wrapper .object-name {
    font-weight: bold;
}

.acl-content-wrapper .acl-object-wrapper .object-head-wrapper .advanced-settings button {
    margin: 0;
}

.acl-content-wrapper .acl-object-wrapper .object-body-wrapper .row,
.acl-content-wrapper .acl_container .row {
    margin-bottom: 0;
}

.acl-content-wrapper .acl-object-wrapper .object-body-wrapper label,
.acl-content-wrapper .acl_container label {
    position: relative;
}

.acl-content-wrapper .acl-object-wrapper .object-body-wrapper label input,
.acl-content-wrapper .acl_container label input {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 18px;
    width: 18px;
}

.acl-content-wrapper .acl_container {
    border: 1px solid #e0e0e0;
    padding: 1em 1em 2px 1em;
    background-color: initial;
}

.acl-content-wrapper .acl_container label,
.acl-content-wrapper .acl-object-wrapper .object-body-wrapper label {
    margin-right: 10px;
}

.acl-content-wrapper .acl_container label:last-child,
.acl-content-wrapper .acl-object-wrapper .object-body-wrapper label:last-child {
    margin-right: 0;
}

.acl-content-wrapper .acl_container label span,
.acl-content-wrapper .acl-object-wrapper .object-body-wrapper label span {
    padding-left: 28px;
    color: #000000;
}

.acl-content-wrapper .acl_container .option-grp {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.acl-content-wrapper .object-body-wrapper .options,
.acl-content-wrapper .acl_container .option-grp .options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.acl-content-wrapper .object-body-wrapper .options .selection-label {
    margin-right: 10px;
    margin-top: 3px;
}

.acl-content-wrapper .content-head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: baseline;
}

.acl-content-wrapper .content-head .input-field {
    margin-left: 20px;
    margin-top: 0;
}

.acl-content-wrapper .content-head button {
    margin-left: 20px;
}

.acl-content-wrapper .content-head+h3 {
    margin-top: 0;
}

.acl-content-wrapper .content-head .select-wrapper .dropdown-content li {
    padding: 5px 10px;
}

.acl-content-wrapper .acl-role-create #generic-table tr:last-child {
    border: none;
}

@media only screen and (max-width: 1200px) {
    .acl-ds-create .row .col.xl6 {
        padding: 0;
    }
}