/* ACL Buttons */

.wide {
    width: 100px;
}

.half {
    width: 49px;
}


/* Button definition */

.btn-extra-small {
    height: 19.8px;
    line-height: 17.8px;
    font-size: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background-color: transparent;
    color: #000;
    display: inline-block;
    margin: 0 2px 2px 0;
    padding: 0 16px;
    text-transform: initial;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

button.btn-small,
button.btn-extra-small,
div.btn-small,
.file-field .btn-small {
    height: 32.4px;
    line-height: 32.4px;
    border: 1px solid #e0e0e0;
    background-color: transparent;
    color: #000;
    text-transform: initial;
    white-space: nowrap;
}

button.btn-small:hover,
button.btn-extra-small:hover,
input.btn-extra-small:hover,
div.btn-small:hover {
    border: 1px solid transparent;
    background-color: rgba(42, 50, 120, 1);
    color: #fff;
}

button.btn-small.primary {
    border: 1px solid transparent;
    background-color: rgba(42, 50, 120, 1);
    color: #fff;
}