nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

nav .nav-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

nav .brand-logo {
    margin-left: 12px;
    line-height: initial;
    position: initial;
    font-size: initial;
}

nav .brand-logo img {
    vertical-align: middle;
    height: 25px;
}

nav .nav-menu {
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    margin-right: 12px;
}

nav .nav-menu li,
nav .nav-menu li a.dropdown-nav-more i {
    max-height: 40px;
    line-height: 40px;
}

nav .nav-menu li .lifetime {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
}

#more-options {
    width: 150px;
    color: black;
    text-align: center;
}

#more-options li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    border-left: 4px solid transparent;
    -webkit-transition: border 0.5s ease-out;
    -o-transition: border 0.5s ease-out;
    transition: border 0.5s ease-out;
    border-bottom: 1px solid #e0e0e0;
}

#more-options li span {
    margin-right: 10px;
    font-size: 18px;
}

#more-options li.active,
#more-options li:hover {
    border-left-color: #2A3278;
    background: #FFFFFF;
}

#more-options form {
    height: auto;
}

.nav-menu .dropdown-content li {
    min-height: 33px;
}

@media only screen and (max-width: 1200px) {
    /* Overwrite materialize */
    nav .brand-logo {
        left: initial;
        -webkit-transform: initial;
        transform: initial;
    }
}