.card-panel.attention {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.login-wrapper h1 {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}

.login-wrapper .attention {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.login-wrapper .attention i,
.card-panel.attention i {
    margin-right: 10px;
    font-size: 18px;
}

.login-wrapper .card-action {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.login-wrapper .card-action .input-field {
    margin-top: 0;
}


/* Logout */

.logout-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}