.card .card-content .change-password h2+p {
    margin-bottom: 20px;
}

.change-password .row.first-level {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.change-password .row.first-level,
.change-password .row.first-level {
    margin-top: 0;
}

.change-password .row .col.first-level {
    padding: 0;
}

.change-password .row.first-level .row {
    margin-bottom: 10px;
}

.change-password .row.first-level .row:last-child {
    margin-top: 10px;
    margin-bottom: 0;
}

.change-password .password {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.change-password .password .password-security {
    display: block;
    height: 3px;
    width: calc(100% - 28px - 0.75rem - 0.75rem);
    position: absolute;
    bottom: -5px;
}

.change-password .password i {
    margin-left: 10px;
    font-size: 18px;
}

.password-conditions {
    border-left: 1px solid #e0e0e0;
    padding-left: 20px;
}

.password-conditions h3 {
    margin-top: 0;
}

.password-conditions .condition {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 0;
}

.password-conditions .condition i {
    font-size: 18px;
    margin-right: 10px;
    color: red;
}

.change-password .pw-proposal label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
}

.change-password .pw-proposal label span {
    color: #000;
    font-size: 12px;
}

.change-password .pw-proposal label .proposal {
    min-width: 200px;
    margin-left: 10px;
    min-height: 18px;
    margin-top: 0;
    border-bottom: 1px solid #9e9e9e;
}

.change-password .pw-proposal .refresh {
    position: relative;
    padding: 0;
    margin-top: 0;
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

.change-password .pw-proposal .refresh i {
    font-size: 18px;
    color: #000;
}

.change-password .pw-proposal .refresh input {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    width: 18px;
    height: 18px;
}