.table-wrapper {
    padding: 0;
    margin: 20px 0;
}

#tree-table th,
#tree-table td,
#generic-table th,
#generic-table td,
#sudo-table th,
#sudo-table td {
    position: relative;
    padding: 5px 10px;
    height: 38px;
    max-height: 38px;
    line-height: initial;
}

th,
th a,
th a.btn-flat,
td,
td a {
    color: #000000;
}

#tree-table tr,
#generic-table tr,
#sudo-table tr {
    height: 38px;
    max-height: 38px;
}

#generic-table thead th {
    vertical-align: baseline;
}

#tree-table thead th a,
#generic-table thead th a {
    padding-left: 0;
    text-transform: initial;
    font-size: 12px;
}

#tree-table thead .checkbox-column,
#tree-table thead .icon-column {
    width: 38px
}

#tree-table i.material-icons,
#generic-table i.material-icons,
#sudo-table i.material-icons {
    font-size: 18px;
}

#generic-table input.input-btn,
#tree-table input.input-btn,
#sudo-table input.input-btn {
    z-index: 1;
    position: relative;
    width: 18px;
}

#generic-table i.input-icons,
#tree-table i.input-icons,
#sudo-table i.input-icons {
    position: absolute;
    left: 16px;
    margin-top: 8px;
}

#tree-table .entry-locked .entry-locked-td {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#tree-table .entry-locked .entry-locked-td i {
    margin-left: 10px;
}

#tree-table .entry-locked .entry-locked-td i:first-child {
    margin-left: 0;
}

#tree-table select:focus,
#sudo-table select:focus {
    outline: none;
}

#tree-table .select-wrapper,
#sudo-table .select-wrapper {
    width: fit-content;
}

#tree-table .select-wrapper input,
#sudo-table .select-wrapper input {
    width: auto;
    max-width: 200px;
    min-height: 27px;
    height: 27px!important;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

#tree-table .select-wrapper ul li,
#sudo-table .select-wrapper ul li {
    padding: 5px 10px;
    min-height: 31px;
    max-height: 31px;
}

#tree-table .input-field,
#sudo-table .input-field {
    margin-top: 0;
}

#tree-table .input-field input,
#tree-table .valign-wrapper input,
#sudo-table .input-field input {
    margin-bottom: 0;
    min-height: 20px;
    height: 20px!important;
}

#tree-table label input,
#generic-table label input,
#sudo-table label input {
    margin-left: 1rem;
    width: 18px;
    height: 18px;
    padding: 0;
    vertical-align: top;
}

#tree-table .valign-wrapper label {
    width: 28px;
    height: 18px;
}

#tree-table .valign-wrapper label i.input-icons {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #000;
}

#generic-table .action-column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

#tree-table .action-wrapper,
#generic-table .action-wrapper,
#sudo-table .action-wrapper {
    position: relative;
    height: 18px;
    font-size: 18px;
    margin-right: 10px;
}

#tree-table .action-wrapper input,
#generic-table .action-wrapper input,
#sudo-table .action-wrapper input {
    width: 18px;
    height: 18px;
    padding: 0;
    vertical-align: top;
}

#tree-table .action-wrapper i,
#generic-table .action-wrapper i,
#sudo-table .action-wrapper i {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

#generic-table .action-wrapper:last-child,
#sudo-table .action-wrapper:last-child {
    margin-right: 0;
}

#tree-table .property-wrapper {
    position: relative;
    float: left;
    margin-right: 10px;
}

#tree-table .property-wrapper input {
    padding: 0 9px;
    margin: auto;
    height: 18px;
    line-height: 18px;
    vertical-align: top;
}

#tree-table .property-wrapper i {
    width: 18px;
    left: 0px;
    margin: auto;
}

#tree-table td.last-column,
#generic-table td.last-column,
#sudo-table td.last-column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#tree-table [type="checkbox"]+span:not(.lever),
#sudo-table [type="checkbox"]+span:not(.lever) {
    padding-left: 0;
}

.table-summary i {
    font-size: 18px;
}

th,
td {
    padding: unset;
}

.card .card-content .plus-actions+.card-action {
    padding: 0;
}