/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
DIV.navigation		{   }
DIV.center		{   }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.textsf		{ font-style: italic  }
#hue109		{ color: #000000;  }
#hue159		{ color: #000000;  }
#hue184		{ color: #000000;  }
#hue219		{ color: #000000;  }
#hue23		{ color: #0000ff;  }
#hue243		{ color: #000000;  }
#hue279		{ color: #000000;  }
#hue303		{ color: #000000;  }
#hue330		{ color: #000000;  }
#hue384		{ color: #000000;  }
#hue406		{ color: #000000;  }
#hue408		{ color: #000000;  }
#hue430		{ color: #000000;  }
#hue433		{ color: #000000;  }
#hue435		{ color: #000000;  }
#hue447		{ color: #ff0000;  }
#hue96		{ color: #ff0000;  }
