table.listframe {
	width:600px;
	background:#F3F3F3;
}

tr.listrow {
	background:#EAEAEA;
}

tr.rowxp {
}

tr.rowxp:hover {
	background-color:#D8D8D8;
}

td.listheader {
	background:#E5E5E5;
	font-weight:bold;
	border-right:1px solid #C0C0C0;
	border-bottom: 1px solid #b0b0b0;
	padding:3px;
	height:22px;
}

td.scrollhead {
	vertical-align:top;
	padding:0px;
}

td.scrollbody {
	vertical-align:top;
	padding:0px;
}

div.scrollbody {
	background-color:#ffffff;
	overflow:auto;
	text-align:left;
}

td.listheader#icon {
	width:20px;
}

td.listheader#entry {
}

td.listheader#property {
	width:50px;
}

td.listheader#info {
	width:200px;
}

td.listheader#properties7 {
	width:136px;
}

td.listheader#properties8 {
	width:152px;
}

td.listheader#properties9 {
	width:168px;
}

td.listheader#properties10 {
	width:186px;
}

td.listheader#actions {
	width:52px;
	border-right:0px;
	text-align:right;
}

td.listheader#scrollbar {
	width:13px;
	border-right:0px;
}

tr.rowxp0 {
	background:white;
}

tr.rowxp0:hover {
	background-color:#D8D8D8;
}

td.list0 {
	background:transparent;
	border-right:1px solid #B0B0B0;
	padding:3px;
	height:22px;
}

td.list0#icon {
	width:20px;
	text-align:center;
}

td.list0#entry {
}

td.list0#info {
	width:200px;
}

td.list0#property {
	width:50px;
}

td.list0#properties7 {
	width:136px;
}

td.list0#properties8 {
	width:152px;
}

td.list0#properties9 {
	width:168px;
}

td.list0#properties10 {
	width:186px;
}

td.list0#actions {
	width:52px;
	border-right:0px;
	text-align:right;
}

tr.rowxp1 {
	background:#F0F0F0;
}

tr.rowxp1:hover {
	background-color:#D8D8D8;
}

td.list1 {
	background:transparent;
	border-right:1px solid #C0C0C0;
	padding:3px;
	height:22px;
}

td.list1nohighlight {
	background:white;
	border-right:1px solid #C0C0C0;
	padding:3px;
	height:22px;
}

td.list1#fill {
	height:100%;
}

td.list1#icon {
	width:0px;
	text-align:center;
}

td.list1#entry {
}

td.list1#info {
	width:200px;
}

td.list1#property {
	width:50px;
}

td.list1#properties7 {
	width:136px;
}

td.list1#properties8 {
	width:152px;
}

td.list1#properties9 {
	width:168px;
}

td.list1#properties10 {
	width:186px;
}

td.list1#actions {
	width:52px;
	border-right:0px;
	text-align:right;
}

body {
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	background-color:white;
	background-image:url("images/border.png"); 
	background-repeat:repeat-y;
	color:#00008F;
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}

h1 {
	font-size:14px;
	color: #00378a;
}

h2, h3, h4, h5, h6 {
	font-size:13px;
	color:#00378a;
}

td, p, b {
	font-size:12px;
}

/* Title bar */
a.maintitlebar, div.maintitlebar {
	font-family:arial,helvetica,sans-serif;
	text-decoration:none;
	color:#00348B;
	font-size:12px;
	text-align:center;
	vertical-align:middle;
}

a.maintitlebar:hover {
	text-decoration:none;
	background-color:#B0D3A0;
}

p.menuheader {
	font-family:arial,helvetica,sans-serif;
	color:#00378a;
	text-decoration:none;
	background-color:#CDF6BD;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	width:100%;
	vertical-align:middle;
	padding:3px;
	margin-top:20px;
}

p.menuitem {
	font-family:arial,helvetica,sans-serif;
	color:#00378a;
	text-decoration:none;
	font-weight:normal;
	font-size:12px;
	text-align:left;
	padding-left:15px;
	padding-top:2px;
	padding-bottom:2px;
	vertical-align:middle;
	margin:2px;
	background-color:#dfffdf;
	padding-right:5px;
}

p.menuitem:hover {
	background-color:#d2f6c2;
}

table.menuitem {
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px;
	background-color:#f0f0f0;
}

table.menuitem:hover {
	background-color:#c5c5c5;
}


td.phonelist:hover {
	background-color:#d2d2d2;
}

td.phonelist {
	border-right:1px solid #B0B0B0;
}

h1.menuheader {
	border-style:solid;
	border-color:#707070;
	width:100%;
	border-top-width:1px;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	padding-top:10px;
	padding-bottom:0px;
}

div.copynotice{
	border-style:solid;
	border-color:#707070;
	width:100%;
	border-top-width:1px;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	padding-top:3px;
	padding-bottom:0px;
	text-align:right;
	font-family:arial,helvetica,sans-serif;
	font-size:10px;
}

a:link {
	text-decoration:none;
	color:#00008f;
}

a:visited {
	text-decoration:none;
	color:#00008f;
}

a.menuitem:link {
	text-decoration:none;
	color:#00008f;
}

a.menuitem:visited {
	text-decoration:none;
	color:#00008f;
}

a.menuitem:hover {
	text-decoration:none;
}

a.iconmenu:link {
	text-decoration:none;
	color:#00008f;
}

td.iconmenu:hover {
	background-color:#e0e0e0;
}

a.iconmenu:visited {
	text-decoration:none;
	color:#00008f;
}

a.iconmenu:hover {
	text-decoration:none;
}

h1.plugtop{
	border-style:solid;
	border-color:#707070;
	width:100%;
	border-top-width:0px;
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:0px;
	padding-top:0px;
	margin-top:0px;
	padding-bottom:6px;
	text-align:left;
	background-color:red;
	font-family:arial,helvetica,sans-serif;
	font-size:24px;
}

div.plugtop {
	border-style:solid;
	border-color:#b0b0b0;
	width:100%;
	border-top-color:#e0e0f0;
	border-top-width:6px;
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:0px;
	padding-top:0px;
	padding-bottom:6px;
	margin-bottom: 0px;
	text-align:left;
	vertical-align:middle;
	background-color:#e0e0f0;
	font-family:arial,helvetica,sans-serif;
	font-weight:bold;
	font-size:24px;
}

div.pluginfo {
	border:solid;
	border:0px;
	width:100%;
	padding-top:2px;
	padding-bottom:2px;
	margin-bottom:10px;
	text-align:right;
	vertical-align:middle;
	background-color:#c0c0e0;
	font-family:arial,helvetica,sans-serif;
	font-size:11px;
}

p.seperator {
	border-style:solid;
	border-color:#a0a0a0;
	width:100%;
	border-top-width:0px;
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:0px;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
}

p.plugbottom {
	border-style:solid;
	border-color:#a0a0a0;
	width:100%;
	border-top-width:1px;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	padding-top:10px;
	padding-bottom:0px;
	text-align:right;
	font-family:arial,helvetica,sans-serif;
}

font.must {
	color:red;
	font-family:arial,helvetica,sans-serif;
}

div.tab_active {
	text-align:center;
	height:25px;
	background-color:#f0f0f0;
	border-style:solid;
	border-color:black;
	border-top-width:1px;
	border-bottom-width:0px;
	border-left-width:1px;
	border-right-width:1px;
	margin-top:0px;
	padding-top:1px;
	padding-left:8px;
	padding-right:8px;
}

div.tab_left {
	text-align:center;
	height:20px;
	background-color:#c0c0c0;
	border-style:solid;
	border-color:black;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:0px;
	margin-top:5px;
	padding-top:1px;
	padding-left:8px;
	padding-right:8px;
}

div.tab_right {
	text-align:center;
	height:20px;
	background-color:#c0c0c0;
	border-style:solid;
	border-color:black;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:1px;
	margin-top:5px;
	padding-top:1px;
	padding-left:8px;
	padding-right:8px;
}

div.tab_near_active {
	text-align:center;
	height:20px;
	background-color:#c0c0c0;
	border-style:solid;
	border-color:black;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	margin-top:5px;
	padding-top:1px;
	padding-left:8px;
	padding-right:8px;
}

div.tab_border {
	width:100%;
	height:20px;
	border-style:solid;
	border-color:black;
	border-top-width:0px;
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:0px;
}

a.tab_active, input.tab_active {
	border:0px;
	margin:0px;
	height:22px;
	font-family:arial,helvetica,sans-serif;
	background-color:#f0f0f0;
	text-decoration:none;
	color:#00348B;
	font-size:13px;
	font-weight:bold;
}

a.tab_right, input.tab_right {
	height:20px;
	border:0px;
	margin:0px;
	font-family:arial,helvetica,sans-serif;
	background-color:#c0c0c0;
	text-decoration:none;
	color:#00348b;
	font-size:13px;
	font-weight:bold;
}

a.tab_left, input.tab_left {
	height:20px;
	border:0px;
	margin:0px;
	font-family:arial,helvetica,sans-serif;
	background-color:#c0c0c0;
	text-decoration:none;
	color:#00348b;
	font-size:13px;
	font-weight:bold;
}

a.tab_near_active, input.tab_near_active {
	height:20px;
	border:0px;
	margin:0px;
	font-family:arial,helvetica,sans-serif;
	background-color:#c0c0c0;
	text-decoration:none;
	color:#00348b;
	font-size:13px;
	font-weight:bold;
}

img.center {
	text-align:center;
	vertical-align:middle;
}

input.center {
	text-align:left;
	vertical-align:middle;
}

select.center {
	text-align:left;
	vertical-align:middle;
}

a.center {
	text-align:left;
	vertical-align:middle;
}

/********************** Template migration *********************/

/* Login screen */
div.gosaLoginSpacer {
	height:100px;
}

table.gosaLoginMask {
	background-color:#8b898b;
	text-align:center;
	border:0px;
}

td.gosaLoginBack {
	width:606px;
	height:406px;
	background:url(images/login.png);
	vertical-align:top;
}

div.gosaLoginBack {
	padding-top:35px;
	margin-left:100px;
	margin-right:50px;
	padding-bottom:0px;
	vertical-align:top;
}

p.gosaLoginHeader {
	text-align:center;
	font-size:14px;
	font-weight:bold;
	margin-bottom:15px;
} 

p.gosaLoginWarning {
	text-align:center;
	color:red;
	font-weight:bold;
	font-size:12px;
}

/* Account Expired screen */
td.gosaAccountExpiredBack {
  width:550px;
  height:300px;
  background:url(images/accountexpired.png);
  vertical-align:top;
}

div.gosaAccountExpiredBack {
  padding-top:40px;
  margin-left:90px;
  margin-right:50px;
  padding-bottom:0px;
  vertical-align:top;
}

p.gosaAccountExpiredHeader {
  text-align:left;
  font-size:14px;
  font-weight:bold;
  margin-bottom:15px;
} 

table.framework {
	width:100%;
	height:100%;
	border:0px;
	border-spacing:0px;
	padding:0px;
	margin:0px;
	background-color:#cdf6bd;
	vertical-align:top;
}

table.maintab {
        width:100%;
        height:100%;
        border:0px;
        border-spacing:0px;
        padding:0px;
        margin:0px;
        background-color:#cdf6bd;
        vertical-align:top;
}


input {
	font-size:12px;
}

input:focus {
	font-size:12px;
}

select {
	font-size:12px;
}

textarea {
	font-size:12px;
}

textarea:focus {
	font-size:12px;
}

div.contentboxh {
	background-color:#e8e8e8;
	border:1px solid #b0b0b0;
	border-bottom-width:0px;
	height:26px;
	vertical-align:middle;
}

p.contentboxh {
	margin:2px;
	font-family:arial,helvetica,sans-serif;
	font-size:16px;
	font-weight:bold;
	vertical-align:middle;
}

div.contentboxb {
	border:1px solid #b0b0b0;
	border-top-width:0px;
	vertical-align:middle;
}

p.contentboxb {
	padding-bottom:0px;
	margin:0px;
	border:4px solid #f8f8f8;
	vertical-align:middle;
}

a.alphaselect:hover {
	text-decoration:none;
	background-color:#a0a0a0;
	color:white;
}

table.check {
	background-color:#e1e1f1;
	color:black;
	border:1px dashed #a0a0a0;
	width:95%;
	margin-left:20px;
}

td.check {
	border-right:1px dashed #a0a0a0;
}

option.select {
        background-repeat:no-repeat;
        background-position:0px top;
        border:0;
	padding-left:20px;
	padding-bottom:1px;
	height:18px;
}

input.menubar{
	text-decoration:none;
	height:19px;
	padding:0px;
	width:100%;
}

td.tbhead {
	border-right:1px solid #B0B0B0;
	border-bottom:1px solid #B0B0B0;
}

td.tbrhead {
	border-bottom:1px solid #B0B0B0;
}
