table.listframe {
	width:600px;
	background:#F3F3F3;
}

tr.listrow {
	background:#EAEAEA;
}

td.listheader {
	background:#E5E5E5;
	font-weight:bold;
	border-right:1px solid #C0C0C0;
	padding:3px;
}

td.list0 {
	background:#F0F0F0;
	border-right:1px solid #C0C0C0;
	padding:3px;
}

td.list1 {
	background:white;
	border-right:1px solid #C0C0C0;
	padding:3px;
}

tbody.scrollcontent {
	overflow:auto;
	overflow:-moz-scrollbars-vertical;
	overflow-x:hidden;
	max-height:480px;
}

body
{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;
  background-image:url("images/border.png"); 
  background-repeat:repeat-y;
  color: #00008F;
  font-family:Arial,Helvetica,sans-serif;
  font-size: 12px;
}

h1 { font-size: 14px; color: #00378a;}
h2,h3,h4,h5,h6 { font-size: 13px; color: #00378a;}

td,p,b {font-size: 12px;}

/* Title bar */
a.maintitlebar, div.maintitlebar {
  font-family: arial,helvetica,sans-serif;
  text-decoration: none;
  color: #00348B;
  font-size: 12px;
}

a.maintitlebar:hover{
  text-decoration: none;
  background-color: #B0D3A0;
}

p.menuheader {
  font-family: arial,helvetica,sans-serif;
  color: #00378a;
  text-decoration: none;
  background-color: #CDF6BD;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  padding: 3px;
  margin-top: 30px;
}

p.menuitem {
  font-family: arial,helvetica,sans-serif;
  color: #00378a;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: middle;
  margin: 2px;
  background-color: #DFFFDF;
  padding-right: 5px;
}

p.menuitem:hover{
  background-color:#D2F6C2;
}

table.menuitem {
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  margin-right:10px;
  background-color:#F0F0F0;
}

table.menuitem:hover{
  background-color:#C5C5C5;
}


td.phonelist:hover {
  background-color: #D2D2D2;
}

h1.menuheader{
  border-style:solid;
  border-color:#707070;
  width:100%;
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:0px;
  padding-top:10px;
  padding-bottom:0px;
}

div.copynotice{
  border-style:solid;
  border-color:#707070;
  width:100%;
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:0px;
  padding-top:3px;
  padding-bottom:0px;
  text-align: right;
  font-family:Arial,Helvetica,sans-serif;
  font-size: 10px;
}

a:link{
  text-decoration: none;
  color: #00008F;
}

a:visited{
  text-decoration: none;
  color: #00008F;
}

a.menuitem:link{
  text-decoration: none;
  color: #00008F;
}

a.menuitem:visited{
  text-decoration: none;
  color: #00008F;
}

a.menuitem:hover{
  text-decoration: none;
}

a.iconmenu:link{
  text-decoration: none;
  color: #00008F;
}

td.iconmenu:hover {
  background-color: #E0E0E0;
}

a.iconmenu:visited{
  text-decoration: none;
  color: #00008F;
}

a.iconmenu:hover{
  text-decoration: none;
}

h1.plugtop{
  border-style:solid;
  border-color:#707070;
  width:100%;
  border-top-width:0px;
  border-bottom-width:1px;
  border-left-width:0px;
  border-right-width:0px;
  padding-top:0px;
  margin-top:0px;
  padding-bottom:6px;
  text-align: left;
  background-color: red;
  font-family:Arial,Helvetica,sans-serif;
  font-size: 24px;
}

div.plugtop{
  border-style:solid;
  border-color:#B0B0B0;
  width:100%;
  border-top-color: #E0E0F0;
  border-top-width:6px;
  border-bottom-width:1px;
  border-left-width:0px;
  border-right-width:0px;
  padding-top:0px;
  padding-bottom:6px;
  margin-bottom: 0px;
  text-align: left;
  vertical-align: middle;
  background-color: #E0E0F0;
  font-family:Arial,Helvetica,sans-serif;
  font-weight: bold;
  font-size: 24px;
}

div.pluginfo{
  border:solid;
  border:0px;
  width:100%;
  padding-top:2px;
  padding-bottom:2px;
  margin-bottom: 10px;
  text-align: right;
  vertical-align: middle;
  background-color: #C0C0E0;
  font-family:Arial,Helvetica,sans-serif;
  font-size: 11px;
}

p.seperator{
  border-style:solid;
  border-color:#A0A0A0;
  width:100%;
  border-top-width:0px;
  border-bottom-width:1px;
  border-left-width:0px;
  border-right-width:0px;
  padding-top:0px;
  padding-bottom:0px;
  margin-top:0px;
  margin-bottom:0px;
  text-align: left;
}

p.plugbottom{
  border-style:solid;
  border-color:#A0A0A0;
  width:100%;
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:0px;
  padding-top:10px;
  padding-bottom:0px;
  text-align: right;
  font-family:Arial,Helvetica,sans-serif;
}

font.must {
  color: red;
  font-family:Arial,Helvetica,sans-serif;
}

div.tab_active {
  text-align:center;
  height:25px;
  width:100px;
  background-color:#F0F0F0;
  border-style:solid;
  border-color:black;
  border-top-width:1px;
  border-bottom-width:0px;
  border-left-width:1px;
  border-right-width:1px;
  margin-top: 0px;
  padding-top:1px;
}

div.tab_left {
  text-align:center;
  height:20px;
  width:100px;
  background-color:#C0C0C0;
  border-style:solid;
  border-color:black;
  border-top-width:1px;
  border-bottom-width:1px;
  border-left-width:1px;
  border-right-width:0px;
  margin-top: 5px;
  padding-top:1px;
}

div.tab_right {
  text-align:center;
  height:20px;
  width:100px;
  background-color:#C0C0C0;
  border-style:solid;
  border-color:black;
  border-top-width:1px;
  border-bottom-width:1px;
  border-left-width:0px;
  border-right-width:1px;
  margin-top: 5px;
  padding-top:1px;
}

div.tab_near_active {
  text-align:center;
  height:20px;
  width:100px;
  background-color:#C0C0C0;
  border-style:solid;
  border-color:black;
  border-top-width:1px;
  border-bottom-width:1px;
  border-left-width:1px;
  border-right-width:1px;
  margin-top: 5px;
  padding-top:1px;
}

div.tab_border {
  width:100%;
  height:20px;
  border-style:solid;
  border-color:black;
  border-top-width:0px;
  border-bottom-width:1px;
  border-left-width:0px;
  border-right-width:0px;
}

a.tab_active, input.tab_active {
  border: 0px;
  margin: 0px;
  width: 100px;
  height: 22px;
  font-family: arial,helvetica,sans-serif;
  background-color: #F0F0F0;
  text-decoration: none;
  color: #00348B;
  font-size: 13px;
  font-weight: bold;
}

a.tab_right, input.tab_right {
  width: 100px;
  height: 20px;
  border: 0px;
  margin: 0px;
  font-family: arial,helvetica,sans-serif;
  background-color: #C0C0C0;
  text-decoration: none;
  color: #00348B;
  font-size: 13px;
  font-weight: bold;
}

a.tab_left, input.tab_left {
  width: 100px;
  height: 20px;
  border: 0px;
  margin: 0px;
  font-family: arial,helvetica,sans-serif;
  background-color: #C0C0C0;
  text-decoration: none;
  color: #00348B;
  font-size: 13px;
  font-weight: bold;
}

a.tab_near_active, input.tab_near_active {
  width: 100px;
  height: 20px;
  border: 0px;
  margin: 0px;
  font-family: arial,helvetica,sans-serif;
  background-color: #C0C0C0;
  text-decoration: none;
  color: #00348B;
  font-size: 13px;
  font-weight: bold;
}



/********************** Template migration *********************/

/* Login screen */
div.gosaLoginSpacer {
	height:100px;
}

table.gosaLoginMask {
	background-color:#8B898B;
	text-align: center;
	border:0px;
}

td.gosaLoginBack {
	width:606px;
	height:406px;
	background:url(images/login.png);
	vertical-align:top;
}

div.gosaLoginBack {
	padding-top:35px;
	margin-left:100px;
	margin-right:50px;
	padding-bottom:0px;
	vertical-align:top;
}

p.gosaLoginHeader {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
} 

p.gosaLoginWarning {
	text-align:center;
	color:red;
	font-weight:bold;
	font-size:12px;
}

table.framework {
	width:100%;
	height:100%;
	border:0px;
	border-spacing:0px;
	padding:0px;
	margin:0px;
	background-color:#CDF6BD;
	vertical-align:top;
}

table.maintab {
        width:100%;
        height:100%;
        border:0px;
        border-spacing:0px;
        padding:0px;
        margin:0px;
        background-color:#CDF6BD;
        vertical-align:top;
}


input {
	font-size: 12px;
}

input:focus {
	font-size: 12px;
}

select {
	font-size: 12px;
}

textarea {
	font-size: 12px;
}

textarea:focus {
	font-size: 12px;
}

div.contentboxh {
	background-color:#E8E8E8;
	border:1px solid #B0B0B0;
	border-bottom-width:0px;
	height:26px;
}

p.contentboxh {
	margin:2px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: bold;
}

div.contentboxb {
	border:1px solid #B0B0B0;
	border-top-width:0px;
}

p.contentboxb {
	padding-bottom:0px;
	margin:0px;
	border:4px solid #F8F8F8;
}

a.alphaselect:hover {
	text-decoration: none;
	background-color: #A0A0A0;
	color: white;
}

table.check {
	background-color: #E1E1F1;
	color: black;
	border:1px dashed #A0A0A0;
	width:95%;
	margin-left:20px;
}

td.check {
	border-right:1px dashed #A0A0A0;
}

option.select {
        background-repeat:no-repeat;
        background-position: 0px top;
        border:0;
	padding-left:20px;
	padding-bottom:1px;
	height:18px;
}

input.menubar{
	text-decoration: none;
	height:19px;
	padding:0px;
	width:100%;
}
