/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
DIV.navigation		{   }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.textsf		{ font-style: italic  }
#hue106		{ color: #ff0000;  }
#hue108		{ color: #ff0000;  }
#hue116		{ color: #ff0000;  }
#hue118		{ color: #ff0000;  }
#hue120		{ color: #ff0000;  }
#hue128		{ color: #ff0000;  }
#hue130		{ color: #ff0000;  }
#hue132		{ color: #ff0000;  }
#hue140		{ color: #ff0000;  }
#hue142		{ color: #ff0000;  }
#hue150		{ color: #ff0000;  }
#hue162		{ color: #ff0000;  }
#hue166		{ color: #ff0000;  }
#hue170		{ color: #ff0000;  }
#hue176		{ color: #ff0000;  }
#hue184		{ color: #ff0000;  }
#hue186		{ color: #000000;  }
#hue190		{ color: #ff0000;  }
#hue192		{ color: #ff0000;  }
#hue194		{ color: #ff0000;  }
#hue196		{ color: #ff0000;  }
#hue204		{ color: #ff0000;  }
#hue206		{ color: #ff0000;  }
#hue211		{ color: #ff0000;  }
#hue219		{ color: #ff0000;  }
#hue22		{ color: #0000ff;  }
#hue227		{ color: #ff0000;  }
#hue237		{ color: #ff0000;  }
#hue239		{ color: #ff0000;  }
#hue247		{ color: #ff0000;  }
#hue249		{ color: #ff0000;  }
#hue251		{ color: #ff0000;  }
#hue259		{ color: #ff0000;  }
#hue261		{ color: #ff0000;  }
#hue263		{ color: #ff0000;  }
#hue271		{ color: #ff0000;  }
#hue273		{ color: #ff0000;  }
#hue281		{ color: #ff0000;  }
#hue293		{ color: #ff0000;  }
#hue297		{ color: #ff0000;  }
#hue301		{ color: #ff0000;  }
#hue307		{ color: #ff0000;  }
#hue316		{ color: #ff0000;  }
#hue329		{ color: #ff0000;  }
#hue34		{ color: #ff0000;  }
#hue36		{ color: #ff0000;  }
#hue363		{ color: #ff0000;  }
#hue368		{ color: #ff0000;  }
#hue373		{ color: #ff0000;  }
#hue381		{ color: #ff0000;  }
#hue383		{ color: #ff0000;  }
#hue389		{ color: #ff0000;  }
#hue394		{ color: #ff0000;  }
#hue400		{ color: #ff0000;  }
#hue438		{ color: #ff0000;  }
#hue440		{ color: #ff0000;  }
#hue442		{ color: #ff0000;  }
#hue444		{ color: #ff0000;  }
#hue446		{ color: #ff0000;  }
#hue448		{ color: #ff0000;  }
#hue450		{ color: #ff0000;  }
#hue452		{ color: #ff0000;  }
#hue454		{ color: #ff0000;  }
#hue461		{ color: #ff0000;  }
#hue472		{ color: #ff0000;  }
#hue476		{ color: #ff0000;  }
#hue481		{ color: #ff0000;  }
#hue500		{ color: #ff0000;  }
#hue504		{ color: #ff0000;  }
#hue509		{ color: #ff0000;  }
#hue515		{ color: #ff0000;  }
#hue526		{ color: #ff0000;  }
#hue53		{ color: #ff0000;  }
#hue537		{ color: #ff0000;  }
#hue538		{ color: #ff0000;  }
#hue547		{ color: #ff0000;  }
#hue548		{ color: #ff0000;  }
#hue55		{ color: #000000;  }
#hue550		{ color: #ff0000;  }
#hue552		{ color: #ff0000;  }
#hue554		{ color: #ff0000;  }
#hue557		{ color: #ff0000;  }
#hue558		{ color: #ff0000;  }
#hue560		{ color: #ff0000;  }
#hue561		{ color: #ff0000;  }
#hue563		{ color: #ff0000;  }
#hue564		{ color: #ff0000;  }
#hue59		{ color: #ff0000;  }
#hue61		{ color: #ff0000;  }
#hue63		{ color: #ff0000;  }
#hue65		{ color: #ff0000;  }
#hue73		{ color: #ff0000;  }
#hue75		{ color: #ff0000;  }
#hue80		{ color: #ff0000;  }
#hue88		{ color: #ff0000;  }
#hue96		{ color: #ff0000;  }
