.section.card-content-scroll {
    max-height: calc(100vh - 370px);
}

#tree-table th,
#tree-table td {
    position: relative;
    padding: 5px 10px;
    height: 38px;
    max-height: 38px;
    line-height: initial;
}

#tree-table tr {
    height: 38px;
    max-height: 38px;
}

#tree-table thead th a {
    padding-left: 0;
}

#tree-table thead .checkbox-column,
#tree-table thead .icon-column {
    width: 38px
}

#tree-table i.material-icons {
    font-size: 18px;
}

#tree-table select:focus {
    outline: none;
}

#tree-table .select-wrapper {
    width: fit-content;
}

#tree-table .select-wrapper input {
    width: auto;
    max-width: 200px;
    min-height: 27px;
    height: 27px!important;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

#tree-table .select-wrapper ul li {
    padding: 5px 10px;
    min-height: 31px;
    max-height: 31px;
}

#tree-table input {
    width: 18px;
    height: 18px;
    padding: 0;
    vertical-align: top;
}

#tree-table input+i {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
}

#tree-table .action-wrapper {
    position: relative;
    height: 18px;
    font-size: 18px;
    margin-right: 10px;
}

#tree-table .action-wrapper input {
    width: 18px;
    height: 18px;
    padding: 0;
    vertical-align: top;
}

#tree-table .action-wrapper i {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

#tree-table td.last-column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#tree-table [type="checkbox"]+span:not(.lever) {
    padding-left: 0;
}

.table-summary {
    padding-top: 10px;
}

.table-summary i {
    font-size: 18px;
}

th,
td {
    padding: unset;
}