Source: gosa
Section: web
Priority: optional
Maintainer: Cajus Pollmeier <cajus@debian.org>
Build-Depends: debhelper(>= 4.2.32), dpatch
Standards-Version: 3.7.2.2

Package: gosa
Architecture: all
Depends: php5, php5-cli, apache | apache-ssl | apache2-mpm-worker | apache2-mpm-threadpool | apache2-mpm-prefork | apache2-mpm-perchild, exim4 | mail-transport-agent, php5-gd,php5-imap, php5-ldap, php5-mhash, php5-mysql, php5-imagick | imagemagick (>= 5.4.4.5-1) | graphicsmagick-im-compat, fping, libcrypt-smbhash-perl, smarty, php5-recode, wwwconfig-common, smarty-gettext, smarty-render, gettext
Suggests: cyrus21-imapd (>= 2.1.11), postfix-ldap, etherwake, slapd, gosa-schema
Description: Web Based LDAP Administration Program
 Provided is access to posix, shadow, samba, proxy, fax, pureftp and
 kerberos accounts. It is able to manage the postfix/cyrus server
 combination and can write user adapted sieve scripts.
 .
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: gosa-desktop
Architecture: all
Depends: iceweasel | mozilla | firefox, debconf, po-debconf
Suggests: xbase-clients
Description: Desktop integration for GOsa
 This package includes a menu definition for your desktop
 environment.
 .
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: gosa-schema
Architecture: all
Depends: slapd
Description: LDAP schema for GOsa
 This package includes the LDAP schema needed by GOsa.
 .
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: gosa-help-en
Architecture: all
Depends: gosa
Description: English online help for GOsa
 This package includes the English online documentation for GOsa
 .
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: gosa-help-de
Architecture: all
Depends: gosa
Description: German online help for GOsa
 This package includes the German online documentation for GOsa
 .
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: gosa-help-fr
Architecture: all
Depends: gosa
Description: French online help for GOsa
 This package includes the French online documentation for GOsa
 .
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: gosa-help-nl
Architecture: all
Depends: gosa
Description: Dutch online help for GOsa
 This package includes the Dutch online documentation for GOsa
 .
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: smarty-render
Architecture: all
Depends: smarty
Suggests: gosa
Description: Provide ACL based rendering for Smarty
 smarty-render provides acl based rendering support for Smarty,
 the popular PHP templating engine (http://smarty.php.net/). This
 module is mainly used by GOsa.
 .
 GOsa is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.
