/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
DIV.navigation		{   }
SPAN.textit		{ font-style: italic  }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.textsf		{ font-style: italic  }
#hue148		{ color: #000000;  }
#hue150		{ color: #000000;  }
#hue154		{ color: #000000;  }
#hue156		{ color: #000000;  }
#hue160		{ color: #000000;  }
#hue162		{ color: #000000;  }
#hue166		{ color: #000000;  }
#hue203		{ color: #ff0000;  }
#hue219		{ color: #ff0000;  }
#hue25		{ color: #0000ff;  }
#hue28		{ color: #000000;  }
#hue283		{ color: #000000;  }
#hue285		{ color: #ff0000;  }
#hue289		{ color: #000000;  }
#hue301		{ color: #000000;  }
#hue303		{ color: #ff0000;  }
#hue304		{ color: #ff0000;  }
#hue305		{ color: #ff0000;  }
#hue311		{ color: #ff0000;  }
#hue312		{ color: #000000;  }
#hue313		{ color: #000000;  }
#hue314		{ color: #000000;  }
#hue321		{ color: #ff0000;  }
#hue323		{ color: #ff0000;  }
#hue324		{ color: #ff0000;  }
#hue33		{ color: #000000;  }
#hue38		{ color: #000000;  }
#hue40		{ color: #000000;  }
#hue42		{ color: #000000;  }
#hue47		{ color: #000000;  }
#hue62		{ color: #ff0000;  }
#hue64		{ color: #0000ff;  }
#hue66		{ color: #000000;  }
#hue69		{ color: #000000;  }
#hue71		{ color: #000000;  }
#hue73		{ color: #ff0000;  }
#hue85		{ color: #ff0000;  }
#hue95		{ color: #0000ff;  }
