/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
DIV.navigation		{   }
SPAN.textit		{ font-style: italic  }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.textsf		{ font-style: italic  }
#hue115		{ color: #ff0000;  }
#hue117		{ color: #ff0000;  }
#hue119		{ color: #ff0000;  }
#hue127		{ color: #ff0000;  }
#hue129		{ color: #ff0000;  }
#hue159		{ color: #ff0000;  }
#hue199		{ color: #ff0000;  }
#hue208		{ color: #ff0000;  }
#hue210		{ color: #000000;  }
#hue223		{ color: #ff0000;  }
#hue231		{ color: #ff0000;  }
#hue25		{ color: #0000ff;  }
#hue253		{ color: #ff0000;  }
#hue255		{ color: #ff0000;  }
#hue257		{ color: #ff0000;  }
#hue279		{ color: #ff0000;  }
#hue28		{ color: #000000;  }
#hue283		{ color: #ff0000;  }
#hue321		{ color: #ff0000;  }
#hue342		{ color: #ff0000;  }
#hue384		{ color: #ff0000;  }
#hue389		{ color: #ff0000;  }
#hue39		{ color: #000000;  }
#hue394		{ color: #ff0000;  }
#hue402		{ color: #ff0000;  }
#hue404		{ color: #ff0000;  }
#hue41		{ color: #000000;  }
#hue410		{ color: #ff0000;  }
#hue415		{ color: #ff0000;  }
#hue421		{ color: #ff0000;  }
#hue43		{ color: #000000;  }
#hue465		{ color: #000000;  }
#hue496		{ color: #ff0000;  }
#hue498		{ color: #ff0000;  }
#hue500		{ color: #ff0000;  }
#hue502		{ color: #ff0000;  }
#hue504		{ color: #ff0000;  }
#hue506		{ color: #ff0000;  }
#hue508		{ color: #ff0000;  }
#hue510		{ color: #ff0000;  }
#hue512		{ color: #ff0000;  }
#hue521		{ color: #ff0000;  }
#hue530		{ color: #000000;  }
#hue534		{ color: #000000;  }
#hue541		{ color: #ff0000;  }
#hue559		{ color: #000000;  }
#hue563		{ color: #000000;  }
#hue570		{ color: #ff0000;  }
#hue578		{ color: #000000;  }
#hue580		{ color: #ff0000;  }
#hue591		{ color: #ff0000;  }
#hue592		{ color: #ff0000;  }
#hue596		{ color: #ff0000;  }
#hue605		{ color: #ff0000;  }
#hue606		{ color: #ff0000;  }
#hue610		{ color: #ff0000;  }
#hue611		{ color: #ff0000;  }
#hue620		{ color: #ff0000;  }
#hue621		{ color: #ff0000;  }
#hue625		{ color: #ff0000;  }
#hue626		{ color: #ff0000;  }
#hue628		{ color: #ff0000;  }
#hue630		{ color: #ff0000;  }
#hue632		{ color: #ff0000;  }
#hue635		{ color: #ff0000;  }
#hue636		{ color: #ff0000;  }
#hue638		{ color: #ff0000;  }
#hue639		{ color: #ff0000;  }
#hue641		{ color: #ff0000;  }
#hue642		{ color: #ff0000;  }
#hue68		{ color: #ff0000;  }
#hue70		{ color: #ff0000;  }
#hue72		{ color: #ff0000;  }
#hue74		{ color: #ff0000;  }
#hue85		{ color: #ff0000;  }
#hue93		{ color: #ff0000;  }
