/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
DIV.navigation		{   }
SPAN.textit		{ font-style: italic  }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.textsf		{ font-style: italic  }
#hue113		{ color: #ff0000;  }
#hue115		{ color: #ff0000;  }
#hue117		{ color: #ff0000;  }
#hue125		{ color: #ff0000;  }
#hue127		{ color: #ff0000;  }
#hue157		{ color: #ff0000;  }
#hue197		{ color: #ff0000;  }
#hue205		{ color: #ff0000;  }
#hue207		{ color: #000000;  }
#hue220		{ color: #ff0000;  }
#hue228		{ color: #ff0000;  }
#hue24		{ color: #0000ff;  }
#hue250		{ color: #ff0000;  }
#hue252		{ color: #ff0000;  }
#hue254		{ color: #ff0000;  }
#hue27		{ color: #000000;  }
#hue276		{ color: #ff0000;  }
#hue280		{ color: #ff0000;  }
#hue318		{ color: #ff0000;  }
#hue338		{ color: #ff0000;  }
#hue372		{ color: #ff0000;  }
#hue377		{ color: #ff0000;  }
#hue38		{ color: #000000;  }
#hue382		{ color: #ff0000;  }
#hue390		{ color: #ff0000;  }
#hue392		{ color: #ff0000;  }
#hue398		{ color: #ff0000;  }
#hue40		{ color: #000000;  }
#hue403		{ color: #ff0000;  }
#hue409		{ color: #ff0000;  }
#hue42		{ color: #000000;  }
#hue451		{ color: #000000;  }
#hue480		{ color: #ff0000;  }
#hue482		{ color: #ff0000;  }
#hue484		{ color: #ff0000;  }
#hue486		{ color: #ff0000;  }
#hue488		{ color: #ff0000;  }
#hue490		{ color: #ff0000;  }
#hue492		{ color: #ff0000;  }
#hue494		{ color: #ff0000;  }
#hue496		{ color: #ff0000;  }
#hue503		{ color: #ff0000;  }
#hue512		{ color: #000000;  }
#hue516		{ color: #000000;  }
#hue523		{ color: #ff0000;  }
#hue540		{ color: #000000;  }
#hue544		{ color: #000000;  }
#hue551		{ color: #ff0000;  }
#hue558		{ color: #000000;  }
#hue560		{ color: #ff0000;  }
#hue571		{ color: #ff0000;  }
#hue572		{ color: #ff0000;  }
#hue576		{ color: #ff0000;  }
#hue585		{ color: #ff0000;  }
#hue586		{ color: #ff0000;  }
#hue590		{ color: #ff0000;  }
#hue591		{ color: #ff0000;  }
#hue600		{ color: #ff0000;  }
#hue601		{ color: #ff0000;  }
#hue605		{ color: #ff0000;  }
#hue606		{ color: #ff0000;  }
#hue608		{ color: #ff0000;  }
#hue610		{ color: #ff0000;  }
#hue612		{ color: #ff0000;  }
#hue615		{ color: #ff0000;  }
#hue616		{ color: #ff0000;  }
#hue618		{ color: #ff0000;  }
#hue619		{ color: #ff0000;  }
#hue621		{ color: #ff0000;  }
#hue622		{ color: #ff0000;  }
#hue66		{ color: #ff0000;  }
#hue68		{ color: #ff0000;  }
#hue70		{ color: #ff0000;  }
#hue72		{ color: #ff0000;  }
#hue83		{ color: #ff0000;  }
#hue91		{ color: #ff0000;  }
