/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
DIV.navigation		{   }
SPAN.textit		{ font-style: italic  }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
#hue16		{ color: #0000ff;  }
#hue208		{ color: #ff0000;  }
#hue226		{ color: #ff0000;  }
#hue229		{ color: #ff0000;  }
#hue273		{ color: #ff0000;  }
#hue320		{ color: #ff0000;  }
#hue33		{ color: #000000;  }
#hue332		{ color: #ff0000;  }
#hue337		{ color: #ff0000;  }
#hue380		{ color: #000000;  }
#hue409		{ color: #ff0000;  }
#hue412		{ color: #ff0000;  }
#hue414		{ color: #ff0000;  }
#hue416		{ color: #ff0000;  }
#hue418		{ color: #ff0000;  }
#hue420		{ color: #ff0000;  }
#hue422		{ color: #ff0000;  }
#hue435		{ color: #000000;  }
#hue439		{ color: #000000;  }
#hue459		{ color: #000000;  }
#hue463		{ color: #000000;  }
#hue473		{ color: #ff0000;  }
#hue484		{ color: #ff0000;  }
#hue485		{ color: #ff0000;  }
#hue489		{ color: #ff0000;  }
#hue500		{ color: #ff0000;  }
#hue501		{ color: #ff0000;  }
#hue509		{ color: #ff0000;  }
#hue512		{ color: #ff0000;  }
#hue513		{ color: #ff0000;  }
#hue517		{ color: #ff0000;  }
#hue518		{ color: #ff0000;  }
#hue520		{ color: #ff0000;  }
#hue522		{ color: #ff0000;  }
#hue524		{ color: #ff0000;  }
#hue527		{ color: #ff0000;  }
#hue528		{ color: #ff0000;  }
#hue530		{ color: #ff0000;  }
#hue531		{ color: #ff0000;  }
#hue533		{ color: #ff0000;  }
#hue534		{ color: #ff0000;  }
#hue98		{ color: #ff0000;  }
